@charset "utf-8";
/* CSS Document */
#search-text{
	width:200px;
	border-radius:35px;
	background:#BFBFBF;
	outline:0;
}
#search-text:focus{
	width:350px;
	transition: 0.5s;
}
#search{
	border:0;
	background:#FFFFFF;
}


